<div class="p-grid p-justify-center">
  <div class="p-col-4">
    <p-fileUpload name="file" [url]="uploadURL"
                  multiple="multiple" maxFileSize="1000000000" [style]="{width: '100%'}">
      <ng-template pTemplate="toolbar" >
        <div class="p-grid p-justify-center" style="padding-top: 1em">
          <div class="p-col-12">
            <div style="text-align: center">
              <span style="padding-right: 1em">Bucket({{bucket}}):</span><input type="text" pInputText [(ngModel)]="bucket"/>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="p-grid p-justify-center">
          <ul *ngIf="uploadedFiles.length" class="p-grid p-justify-center">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
          </ul>
        </div>
      </ng-template>
    </p-fileUpload>
  </div>
</div>
