<div class="p-grid p-justify-center">
  <div class="p-col-4">
    <p-fileUpload #uploader
                  name="file" [url]="uploadURL"
                  multiple="multiple"
                  previewWidth="150"
                  maxFileSize="10000000000" [style]="{width: '100%'}"
                  (onProgress)="onProgress($event)"
                  (onUpload)="onUpload($event)">
      <ng-template pTemplate="toolbar" >
        <div class="p-grid p-justify-center" style="padding-top: 1em">
          <div class="p-col-8">
            <div style="text-align: center">
              <span style="padding-right: 1em">Bucket</span><input type="text" pInputText [(ngModel)]="bucket"/>
            </div>
          </div>
          <div class="p-col-4">
            <div style="text-align: center">
              <span style="padding-right: 1em">Complete: {{completed}}%</span>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="p-grid p-justify-center">
          <ul *ngIf="uploadedFiles.length" class="p-grid p-justify-center">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
          </ul>
        </div>
      </ng-template>
    </p-fileUpload>
  </div>
</div>
