<div class="p-grid p-justify-center">
  <div class="p-col-5">
    <p-accordion>
      <p-accordionTab *ngFor="let bucket of buckets" header="{{bucket.Name}}:&nbsp;&nbsp;&nbsp;{{bucket.Header}}">
        <p-table [columns]="bucketFileColumns" [value]="bucket.Files">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns" [ngSwitch]="true">
                <span *ngSwitchCase="col.field === 'ModifiedAt'">{{ rowData[col.field] | date:'short' }} </span>
                <span *ngSwitchDefault>{{rowData[col.field]}}</span>
              </td>
              <td>
                <button type="button" pButton icon="fa fa-check" (click)="download(bucket, rowData)" label="Download" class="ui-button-info"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
